diffusers==0.34.0
fastapi==0.116.1
Flask==3.1.2
huggingface_hub==0.34.4
matplotlib==3.10.5
numpy==2.2.6
opencv_python==4.12.0.88
openvino==2025.2.0
Pillow==11.3.0
pydantic==2.11.7
replicate==1.0.7
Requests==2.32.5
scikit_learn==1.7.1
scipy==1.16.1
setuptools==80.9.0
scikit-image==0.25.2
tqdm==4.67.1
transformers==4.55.2
uvicorn==0.35.0
python-multipart==0.0.9
